@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Lalezar&family=League+Spartan:wght@100..900&display=swap');

:root{
    --color_gray: #2C2C2C;
    --color_green: #00FF66;
    --color_red: #ff4747ef;
}

.lalezar-regular {
    font-family: "Lalezar", serif;
    font-style: normal;
  }
  
.league-spartan{
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .kulim-park-extralight {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kulim-park-regular {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kulim-park-semibold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  body{
    font-family: "League Spartan", serif;
    font-weight: 200;
    margin: auto;
    height: 3000px;
    background-image: url(../imagens/download\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  li{
    list-style: none;
  }
  h1{
    font-family: "Lalezar", serif;
    margin: 0px;
    font-size: 80px;
    font-weight: 100;
  }
  strong{
    font-family: "Kulim Park", sans-serif;
    font-size: 150px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 30px;
    margin: 5px;
  }
  h1, h2{
    text-align: center;
  }
  p{
    font-size: 28px;
    margin: 0;
    padding: 20px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  header{
    background-color: var(--color_lite_gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  header .smalllogo{
    margin:10px 15px;
    width: 41.13px;
    height: 46.17px;
  }
  
  header a:not(.link){
    padding: 14px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    color: rgb(8, 8, 8);
    text-decoration: none;
    border-radius: 5px;
    transition: all .5s;
  }

  header .link{
    transition: .2s;
    margin: 0px;
    padding: 0px;
  }

  header .pages a:not(.link){
    margin-left: 20px;
  }
  header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav#nav_login a{
    margin-right: 40px;
  }
  header nav#nav_login a#login{
    border: 4px solid;
    border-radius: 8px;
    padding: 10px;
    border-color: var(--color_green);

  }
  header a:hover:not(.link){
    background-color: #2c2c2c28;
  }
  header .link:hover{
    transform: scale(1.03);
  }
  header nav#nav_login a#login:hover{
    background-color: var(--color_green);
  }
    header nav#nav_perfil button#logout{
    width: 40px;
    border-radius: 8px;
    border: none;
    align-items: center;
    background-color: transparent;
    color: var(--color_red);
  }
  header nav#nav_perfil button#logout:hover{
    background-color: var(--color_red);
    color: white;
    box-shadow: none;
  }
  section#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
    justify-content: center;
    cursor: default;
  }
  section#title h2{
  font-size: 50px;
  }
  section#intro{
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
    justify-content: center;
    padding: 15px;
    cursor: default;
  }
  section#intro h2{
    color: white;
  }
  section#intro img{
    height: 50px;
    display: flex;
  }

  
  section#tutorial_title{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    justify-content: center;
    padding: 30px 0px;
  }
  section#tutorial_title img{
    padding: 10px;
  }
  #aside_tutorial{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagens/download\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
  }
  #aside_tutorial p{
    color: #000000;
    margin: 0px;
    font-weight: 300;
  }
  #aside_tutorial a{
    font-size: 28px;
    margin: 0;
    padding: 20px;
    color: rgb(0, 132, 255);
    margin: 5px 0px;
    padding-top: 0px;
  }
  
  #aside_tutorial > div{
    width: 800px;
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0px 0px 15px #1a1a1a54;
  }
    /*rodapé*/

div.rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  #0e0e0e;
  color: #fff;
  margin-top: 500px;
  bottom: 0px;
  height: 281px;
  padding: 50px 300px 20px 300px;
  border-top: 1px solid #666;
  margin: 0px;
}
ul{
  padding: 0px;
}

div.rodape a{
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
div.rodape h3{
  font-size:22px;
  font-weight: 600;
  margin: 0px 0px 15px 0px;
}
div.rodape i{
  font-size: 20px;
}
div.rodape span{
  font-size: 20px;
  font-weight: 400;
}
div.rodape li{
  margin-bottom: 15px;
  font-size: 10px;
}
div.rodape hr{
  padding: 0px;
  margin: 0px 0px;
  
}



