@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Lalezar&family=League+Spartan:wght@100..900&display=swap');

:root{
    --color_gray: #2C2C2C;
    --color_green: #00FF66;
}

.lalezar-regular {
    font-family: "Lalezar", serif;
    font-style: normal;
  }
  
.league-spartan{
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .kulim-park-extralight {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kulim-park-regular {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kulim-park-semibold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  body{
    font-family: "League Spartan", serif;
    font-weight: 200;
    margin: auto;
    height: 3000px;
    background-image: url(../imagens/download\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  h1{
    font-family: "Lalezar", serif;
    margin: 0px;
    font-size: 80px;
    font-weight: 100;
  }
  strong{
    font-family: "Kulim Park", sans-serif;
    font-size: 150px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 30px;
    margin: 5px;
  }
  h1, h2{
    text-align: center;
  }
  p{
    font-size: 28px;
    margin: 0;
    padding: 20px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  header img{
    width: 41px;
    height: 46px;
  }
  header a{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    color: black;
    text-decoration: none;
  }
  header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav#nav_login a#login{
    border: 4px solid;
    border-radius: 8px;
    padding: 5px;
    border-color: var(--color_green);
  }
  header a:hover{
    text-decoration: underline;
  }
  section#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
    justify-content: center;
  }
  section#title h2{
  font-size: 50px;
  }
  section#intro{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
    justify-content: left;
  }
  section#intro h2{
    color: white;
  }
  section#intro img{
    height: 50px;
    display: flex;
    padding-left:500px ;
  }
  #aside_explicativo article{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 30px 500px;
  }
  section#tutorial_title{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
    justify-content: center;
    padding: 30px 0px;
  }
  #aside_tutorial{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagens/download\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
  }
  #aside_tutorial p{
    color: rgb(0, 0, 0);
  }
  #aside_tutorial a{
    color: rgb(0, 132, 255);
  }
  #aside_tutorial > div{
    width: 800px;;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  footer{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    background-color: var(--color_gray);
    color: white;
  }
